modules/gen.settings.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="comment_blocks">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="width"/>
              <xs:element type="xs:int" name="height"/>
              <xs:element type="xs:int" name="end_of_file_height"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
